.students-section-header,
.students-section-body {
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.students-section-header {
  justify-content: space-between;
  align-items: end;
}

.students-section-header .new-student-container {
  display: flex;
  align-items: end;
  gap: 2rem;
}

.students-section-header .students-count {
  font-weight: 600;
  margin-left: 3rem;
}

.students-section-header .students-count::before {
  content: "\f007";
  font: var(--fa-font-regular);
  margin-right: 0.3rem;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.students-section-body {
  border-top: 1px solid var(--color5);
  padding-top: 1rem;
}

.students-table {
  width: 100%;
  border-collapse: collapse;
}

.students-table th {
  font-weight: 400;
  color: var(--color5);
  padding-bottom: 1rem;
  text-align: start;
}

.students-table td {
  padding-block: 0.5rem;
  cursor: pointer;
}

.students-table tr {
  border-bottom: 1px solid var(--color5);
}

.students-table .align-right {
  text-align: end;
}

.student-photo {
  border-radius: 50%;
}

.not-found {
  margin: 5rem auto;
  font-size: 1.2rem;
  color: var(--color5);
}

.rest-span {
  color: var(--color1);
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  top: 100%;
  left: 0;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--color1);
  color: white;
}

.rest-span:hover .tooltip {
  visibility: visible;
}

.no-group {
  color: red;
}
